---
title: Klientů si vážíme
description: Jsme slušná firma, která si váží svých klientů. Máme široké portfolio spokojených klientů, které bereme jako rovné partnery.
---
<section class="row mb-5">
    <div class="col-sm-7 text-content align-self-center">
        <span class="comment">[ Máme vizi, jak to dělat dobře ]</span>
        <h1 class="underline">Náš přístup</h1>
        <p class="ml-sm-5">Nejradši máme ty klienty, jejichž jsme sami spokojenými zákazníky. Naší prací budeme ještě spokojenější.</p>
        <p class="ml-sm-5">Na začátku naší cesty je klient, který má potenciál a chuť se rozvíjet na základě dat. Cílem je pak společná cesta jednotného týmu, který
            naplno využívá jejich potenciál.</p>
    </div>
    <div class="col-sm-5 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/poly.jpg" />
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-10 text-content align-self-center">
        <h2 class="ml-sm-5">Milníky naší spolupráce</h2>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Pomůžeme získat schopnost data sbírat, vyhodnocovat a udržovat. Dlouhodobě, konzistentně a kvalitně.</li>
            <li>Naučíme vás v datech hledat souvislosti.</li>
            <li>Predikovat budoucnost na základě dat.</li>
            <li>Díky datům najdeme příležitosti monetizovat a integrálně je začlenit do vašeho podnikání.</li>
        </ul>
        <p class="ml-sm-5">Spolupracovat s námi není jednoduché, protože jsme nároční a vyžadujeme vaše zapojení. Když se s námi rozhodnete postupovat kroky datové transformace, nekupujete si agenturu, ale individuální přístup, průvodce digitálním prostředím.</p>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="<%= site.basePath %>/digitalni-maturita" title="Digitální maturita">Jak funguje digitální maturita ››</a>
    </div>
</section>
<h2 class="ml-sm-5">Naše služby</h2>
<%- include('../../partials/our-services') %>
<section class="row mb-5">
    <div class="col-sm-10 text-content align-self-center">
        <span class="comment">[ Reference ]</span>
        <h2 class="ml-sm-5">Co se nám povedlo</h2>
        <p class="ml-sm-5">Nebojíme se uznat chybu. Některé projekty se nám nepovedly, ale všem daly cenné zkušenosti. Vždycky hledáme nejlepší řešení. Někdy kvůli tomu musíme použít zcela nové technologie. </p>
    </div>
    <div class="col-12">
        <%- include('../../partials/references') %>
    </div>
</section>
<%- include('../../partials/technologies') %>


