---
title: 404 - stránka nenalezena
---
<span class="comment mt-5">[ Nenalezeno :/ ]</span>
<section class="row justify-content-between">
    <div class="col-lg-6 col-md-12 align-self-center">
        <h1>Tady nic není.</h1>
        <p>Ale už to máme zaznamenané, Karlovi přišel alert mail a zkontrolujeme to.</p>

        <h2>Kam jít:</h2>
        <ul class="blue-dot-list">
            <li><a href="<%= site.basePath %>" title="Na hlavní stránku tohoto krásného webu">Homepage</a></li>
            <li><a href="<%= site.basePath %>/jak-a-kde" title="Potřebujete nás nějak kontaktovat? Správné místo">Kontakt</a></li>
            <li><a href="<%= site.basePath %>/digitalni-maturita" title="To, čím se teď hodně zabýváme">Digitální maturita</a></li>
            <li><a href="<%= site.basePath %>/kolega" title="Hledáš zajímavou práci? Mrkni na naše volné pozice.">Volné pozice</a></li>
        </ul>
    </div>
    <div class="col-lg-6 d-md-none d-lg-block">
        <img src="<%= site.basePath %>/assets/imgs/404.jpg" />
    </div>
</section>
