<footer class="site-footer row">
    <div class="col-sm">
        <span class="comment">[ Tady nás najdeš ]</span>
        <address>
            <h3 class="dark-blue">Etnetera Activate a.s.</h3>
            Classic 7 - budova E<br>
            Jankovcova 1037/49<br>
            170 00 Praha 7<br>
            <br>
            <a href="#" data-toggle="modal" data-target="#billing">Fakturační údaje</a><br>
            <br>
            Tel.: <a href="tel:+420233326810">+420 233 326 810</a><br>
            E-mail: <a href="mailto:my@activate.cz">my@activate.cz</a>
        </address>
    </div>
    <div class="col-sm">
        <span class="comment">[ Tady nás najdeš úplně nejvíc! ]</span>
        <div class="row">
            <a href="https://twitter.com/etneteractivate" class="col-md-4 social-icon"><img src="<%= site.basePath %>/assets/imgs/social/map.png" /><span>Mapa k nám</span></a>
            <a href="https://twitter.com/etneteractivate" class="col-md-4 social-icon"><img src="<%= site.basePath %>/assets/imgs/social/twitter.png" /><span>Twitter</span></a>
            <a href="https://medium.com/etnetera-activate" class="col-md-4 social-icon"><img src="<%= site.basePath %>/assets/imgs/social/medium.png" /><span>Blog</span></a>
            <a href="https://www.linkedin.com/company/etnetera-activate" class="col-md-4 social-icon"><img src="<%= site.basePath %>/assets/imgs/social/linkedin.png" /><span>Linkedin</span></a>
            <a href="#" class="col-md-4 social-icon" data-toggle="modal" data-target="#eventsCalendar"><img src="<%= site.basePath %>/assets/imgs/social/calendar.png" /><span>Kalendář</span></a>
            <a href="https://zivotsactivate.tumblr.com/" class="col-md-4 social-icon"><img src="<%= site.basePath %>/assets/imgs/social/tumblr.png" /><span>Tumblr</span></a>
        </div>


    </div>
    <div class="col-sm" v-if="mediumArticles">
        <span class="comment">[ Sem píšeme <3 ]</span>
        <h3 class="dark-blue">Activate Medium Blog</h3>
        <ul class="blue-dot-list">
            <li v-for="article in mediumArticles.slice(0, 4)">
                <a :href="article.link" v-html="article.title"></a>
            </li>
        </ul>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="billing" tabindex="-1" role="dialog" aria-labelledby="billingDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="billingDialog">Fakturační údaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-right"><strong>Adresa:</strong></div>
                    <div class="col">
                        <address>
                            <strong>Etnetera Activate a.s.</strong><br />
                            Jankovcova 1037/49<br />
                            170 00 Praha 7<br />
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>IČ:</strong></div>
                    <div class="col">02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>DIČ:</strong></div>
                    <div class="col">CZ02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Bankovní spojení:</strong></div>
                    <div class="col">KB 107-6999960257 / 0100 (CZK)<br />KB 107-7006180227 / 0100 (EUR)</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Zapsána:</strong></div>
                    <div class="col">u MS Praha, sp. zn. B 19645</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="eventsCalendar" tabindex="-1" role="dialog" aria-labelledby="eventsCalendarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventsCalendarLabel">Kalendář akcí</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=etnetera.cz_vhle6ln0rnkb06kvo53icnfhm0%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FPrague" style="border-width:0" width="766" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
