<footer class="site-footer row">
    <div class="col-lg col-md-6">
        <span class="comment">[ Tady nás najdete ]</span>
        <address>
            <h3>Etnetera Activate a.s.</h3>
            Classic 7 - budova E<br>
            Jankovcova 1037/49<br>
            170 00 Praha 7<br>
            <br>
            <a onclick="measure({action:'footerClick',footerElementName:'Fakturační údaje'});return false;" href="#" data-toggle="modal" data-target="#billing">Fakturační údaje</a><br>
            <br>
            Tel.: <a href="tel:+420233326810">+420 233 326 810</a><br>
            E-mail: <a href="mailto:info@activate.cz">info@activate.cz</a>
        </address>
    </div>
    <div class="col-lg order-last col-md-12">
        <span class="comment">[ Tady nás najdete úplně nejvíc! ]</span>
        <div class="row">
            <a onclick="measure({action:'footerClick',footerElementName:'Mapa'}); return false;" href="#" class="col-lg-4 col-md-2 col-6 social-icon" data-toggle="modal" data-target="#map"><img src="<%= site.basePath %>/assets/imgs/social/map.png" /><span>Mapa k nám</span></a>
            <a href="https://twitter.com/etn_activate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Twitter"><img src="<%= site.basePath %>/assets/imgs/social/twitter.png" /><span>Twitter</span></a>
            <a href="https://medium.com/etnetera-activate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Medium"><img src="<%= site.basePath %>/assets/imgs/social/medium.png" /><span>Blog</span></a>
            <a href="https://www.linkedin.com/company/etn-activate/" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Linkedin"><img src="<%= site.basePath %>/assets/imgs/social/linkedin.png" /><span>Linkedin</span></a>
            <a href="https://zivotsactivate.tumblr.com/" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Tumblr"><img src="<%= site.basePath %>/assets/imgs/social/tumblr.png" /><span>Tumblr</span></a>
        </div>
    </div>
    <div class="col-lg order-md-2 order-lg-last col-md-6" v-if="mediumArticles">
        <span class="comment">[ Sem píšeme <3 ]</span>
        <h3>Activate Medium Blog</h3>
        <ul class="blue-dot-list">
            <li v-for="article in mediumArticles.slice(0, 4)">
                <a :href="article.link" v-html="article.title"></a>
            </li>
        </ul>
    </div>
</footer>
<footer class="site-footer row">
    <div class="col-lg col-md">
        <a href="/privacy/">Podmínky používání a cookies</a>
        <br/>
        <a href="#" onclick="Cookiebot.show();return false;">Upravit nastavení cookies</a>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="billing" tabindex="-1" role="dialog" aria-labelledby="billingDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="billingDialog">Fakturační údaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-right"><strong>Adresa:</strong></div>
                    <div class="col">
                        <address>
                            <strong>Etnetera Activate a.s.</strong><br />
                            Jankovcova 1037/49<br />
                            170 00 Praha 7<br />
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>IČ:</strong></div>
                    <div class="col">02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>DIČ:</strong></div>
                    <div class="col">CZ02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Bankovní spojení:</strong></div>
                    <div class="col">
                        Fio 2501686513 / 2010 (CZK)<br /> Fio 2101690054 / 2010 (EUR)<br />
                        <!--KB 107-6999960257 / 0100 (CZK)<br />
                        KB 107-7006180227 / 0100 (EUR) -->
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Zapsána:</strong></div>
                    <div class="col">u MS Praha, sp. zn. B 19645</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapLabel">Tady se nacházíme:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.871625693074!2d14.451913816060918!3d50.1074097794294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94b2bbd59eed%3A0x4186376dbe492f6a!2sEtnetera+Activate+a.s.!5e0!3m2!1scs!2scz!4v1558686906677!5m2!1scs!2scz"
                    width="766" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<style>
    div#CookiebotWidget {
        right: 10px;
        left: auto;
    }
</style>