<meta charset="UTF-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<meta name="description" content="Online konzultanti s vášní pro data"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Roboto:300,400,500,700|PT+Sans:&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="<%= site.basePath %>/assets/css/cookieconsent.min.css">
<link rel="stylesheet" href="<%= site.basePath %>/assets/css/styles.css">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="<%= site.basePath %>/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= site.basePath %>/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= site.basePath %>/assets/icons/favicon-16x16.png">
<link rel="manifest" href="<%= site.basePath %>/assets/icons/site.webmanifest">
<link rel="mask-icon" href="<%= site.basePath %>/assets/icons/safari-pinned-tab.svg" color="#009fe4">
<link rel="shortcut icon" href="<%= site.basePath %>/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="<%= site.basePath %>/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#009fe3">
<!-- for dynamic data load-->
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-database.js"></script>
<script src="<%= site.basePath %>/assets/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="<%= site.basePath %>/assets/js/init-script.js"></script>
<script src="<%= site.basePath %>/assets/js/cookieconsent.js"></script>

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('require', 'GTM-W9VZXCR');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


