<meta charset="UTF-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<meta name="description" content="Online konzultanti s vášní pro data"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Roboto:300,400,500,700|PT+Sans:&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="<%= site.basePath %>/assets/css/styles.css">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="<%= site.basePath %>/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= site.basePath %>/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= site.basePath %>/assets/icons/favicon-16x16.png">
<link rel="manifest" href="<%= site.basePath %>/assets/icons/site.webmanifest">
<link rel="mask-icon" href="<%= site.basePath %>/assets/icons/safari-pinned-tab.svg" color="#009fe4">
<link rel="shortcut icon" href="<%= site.basePath %>/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="<%= site.basePath %>/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- for dynamic data load-->
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>


