---
title: Privacy - podmínky používání
customjs: privacy.js
description: V naší společnosti si vážíme každého osobního údaje, který nám svěříte. Proto s takovými údaji vždy nakládáme tak, abychom vaši důvěru nezklamali. 
---
<article class="row">
    <header>
        <h1>Podmínky používání</h1>
    </header>

    <div class="text-editor">
        <h2 class="mt-5">Zásady zpracování osobních údajů</h2>
        <p>Všichni v naší společnosti si vážíme každého osobního údaje, který nám svěříte. Proto s takovými údaji vždy nakládáme tak, abychom vaši důvěru nezklamali. Prosíme přečtěte si, jak k ochraně osobních údajů přistupujeme. Pokud byste s jakýmkoliv bodem nesouhlasili, <a href="https://www.activate.cz/kontakty/">kontaktujte nás</a>.</p>
        <h2 class="mt-5">Správce osobních údajů</h2>
        <p>Správcem osobních údajů je:</p>
        <p><strong> Etnetera Activate a.s.</strong><br>
            Jankovcova 1037/49<br>
            170 00 Praha 7</p>
        <p>IČ:&nbsp;02713209, DIČ: CZ02713209</p>
        <p>Společnost zapsána v obchodním rejstříku u Městského soudu v Praze, oddíl B, vložka 19645</p>
        <h2 class="mt-5">Účely zpracování</h2>
        <p>Vaše osobní údaje zpracováváme pro následující účely:</p>
        <table border="1" cellpadding="5" cellspacing="0">
            <tbody>
            <tr>
                <td colspan="2"><b>Účel zpracování</b></td>
                <td><b>Právní titul</b></td>
            </tr>
            <tr>
                <td>1)</td>
                <td>vyřízení poptávky po našich službách</td>
                <td>Plnění smlouvy</td>
            </tr>
            <tr>
                <td>2)</td>
                <td>zodpovězení vašich dotazů na náš e-mail či skrze chat</td>
                <td>Oprávněný zájem</td>
            </tr>
            <tr>
                <td>3)</td>
                <td>marketingové akce</td>
                <td>Souhlas</td>
            </tr>
            <tr>
                <td>4)</td>
                <td>hodnocení spokojenosti s našimi službami</td>
                <td>Souhlas</td>
            </tr>
            <tr>
                <td>5)</td>
                <td>zlepšování našeho webu na základě dat z jeho používání</td>
                <td>Souhlas</td>
            </tr>
            </tbody>
        </table>
        <h2 class="mt-5">Rozsah zpracovávaných údajů</h2>
        <p>Zpracováváme jen nezbytně nutné údaje, abychom vám mohli nabídnout kvalitní zboží a služby na míru.</p>
        <table border="1" cellpadding="5" cellspacing="0">
            <tbody>
            <tr>
                <td><b>Osobní údaje</b></td>
                <td><b>Účel zpracování</b></td>
            </tr>
            <tr>
                <td>Jméno, příjmení, oslovení</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Pohlaví</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Fakturační adresa</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Telefonní číslo</td>
                <td>1</td>
            </tr>
            <tr>
                <td>E-mailová adresa</td>
                <td>1, 2, 3, 4</td>
            </tr>
            <tr>
                <td>Historie navštívených stránek na webu</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Historie aktivit v e-mailových kampaních</td>
                <td>3, 5</td>
            </tr>
            <tr>
                <td>Cookies, anonymizovaná IP adresa</td>
                <td>2, 3, 5</td>
            </tr>
            </tbody>
        </table>
        <h2 class="mt-5">Příjemci osobních údajů</h2>
        <p>Vaše osobní údaje chráníme jako oko v hlavě a <b>nikomu třetímu je neprodáme</b>! Abychom Vám mohli nabízet to nejlepší zboží a služby přesně na míru, tak používáme kvalitní nástroje třetích stran. Tyto nástroje některé Vaše osobní údaje zpracovávají – ale výhradně za účelem cíleného oslovení nebo pro zlepšení kvality našich služeb. Jejich výčet je v tabulce níže.</p>
        <table border="1" cellpadding="5" cellspacing="0">
            <tbody>
            <tr>
                <td><b>Název</b></td>
                <td><b>Země</b></td>
                <td><b>Účel zpracování</b></td>
            </tr>
            <tr>
                <td><a href="https://www.mailkit.eu">Mailkit s.r.o.</a></td>
                <td>CZ</td>
                <td>3, 4</td>
            </tr>
            <tr>
                <td><a href="https://www.google.com/analytics/">Google Analytics</a></td>
                <td>US</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
        <h2 class="mt-5">Doba uložení osobních údajů</h2>
        <p>Vaše osobní údaje zpracováváme pouze po nezbytně nutnou dobu, která se liší podle účelů zpracování:</p>
        <table border="1" cellpadding="5" cellspacing="0">
            <tbody>
            <tr>
                <td><b>Účel zpracování</b></td>
                <td><b>Doba uložení osobních údajů</b></td>
            </tr>
            <tr>
                <td>Vyřízení poptávky (1)</td>
                <td>Nejdéle 2 roky od vystavení daňového dokladu</td>
            </tr>
            <tr>
                <td>Dotazy z webu či na chatu (2)</td>
                <td>Nejdéle 60 dnů od zodpovězení dotazu</td>
            </tr>
            <tr>
                <td>Marketingové akce (3)</td>
                <td>Nejdéle 30 dnů od odvolání souhlasu</td>
            </tr>
            <tr>
                <td>Hodnocení spokojenosti (4)</td>
                <td>Nejdéle 2 roky od poskytnutí údajů</td>
            </tr>
            <tr>
                <td>Analýza chování na webu (5)</td>
                <td>50 měsíců</td>
            </tr>
            </tbody>
        </table>
        <p>V případě, že jste odvolal(a) souhlas s e-mailovou marketingovou komunikací (odhlášením, kliknutím na Toto je SPAM), tak uchováváme Vaši e-mailovou adresu v zakódované podobě trvale – z důvodu oprávněného zájmu.</p>
        <p>V případě vašeho souhlasu pro přímý marketing vyhodnocujeme vaši aktivitu (otevírání e-mailů, klikání na odkazy v nich) a pokud neprojevíte žádnou aktivitu po dobu 12 měsíců, považujeme to za odhlášení a z databáze vás vyřadíme.</p>
        <h2 class="mt-5">Pravidla používání cookies</h2>
        <div id="CookieDeclarationWrapper"></div>
        <!--
        <p>Pro usnadnění používání našich webových stránek používáme soubory cookies, což jsou malé datové soubory ukládané na disk vašeho počítače. Soubory cookies používáme k tomu, abychom mohli lépe porozumět tomu, jakým způsobem jsou naše stránky používány a aby je bylo možné optimalizovat. Soubory cookies nám mohou např. říci, jestli jste naše stránky už v minulosti navštívili nebo jestli jste novým návštěvníkem.</p>
        <p>Pokud si nepřejete soubory cookies přijímat, můžete v nastaveních vašeho internetového prohlížeče všechny soubory cookies z disku vašeho počítače vymazat, zablokovat jejich příjem nebo pracovat v tzv. anonymním režimu, kde se cookies automaticky smažou při zavření okna prohlížeče. Pro bližší informace vyhledejte v nápovědě vašeho internetového prohlížeče kapitolu týkající se právě cookies:</p>
        <ul>
            <li style="font-weight: 400;"><a href="https://support.mozilla.org/cs/kb/vymazani-cookies">Firefox</a></li>
            <li style="font-weight: 400;"><a href="http://windows.microsoft.com/cs-cz/internet-explorer/delete-manage-cookies#ie=ie-11">Microsoft Internet Explorer</a></li>
            <li style="font-weight: 400;"><a href="https://support.google.com/chrome/answer/95647?hl=cs">Google Chrome</a></li>
            <li style="font-weight: 400;"><a href="https://support.apple.com/kb/PH21411?locale=cs_CZ" class="broken_link">Safari</a></li>
        </ul>
        <h2 class="mt-5">Bližší popis jednotlivých kategorií cookies</h2>
        <h3 class="mt-3">Nezbytné cookies (Typ 1)</h3>
        <p>Základní cookies jsou nezbytné k tomu, aby naše webové stránky plnily své základní funkce. Tyto soubory cookies umožňují navigaci na stránkách a použití vámi požadovaných prvků, např. přístup k zabezpečeným oblastem stránek, obsah košíku, přihlášení uživatele, apod.. Bez těchto cookies bychom nemohli poskytovat služby, které umožňují provoz těchto stránek.</p>
        <p>Do této kategorie spadají tyto cookies:</p>
        <ul>
            <li style="font-weight: 400;">identifikace vaší návštěvy (sezení)</li>
        </ul>
        <h3 class="mt-3">Analytické a výkonnostní cookies (Typ 2)</h3>
        <p>Cookies týkající se výkonu shromažďují anonymní informace o tom, jakým způsobem návštěvníci používají naše webové stránky. Tyto soubory cookies nám ukazují, jak probíhá interakce mezi návštěvníky a našimi webovými stránkami, neboť nám poskytují informace o navštívených oblastech, o čase stráveném na stránkách a o výskytu případných problémů, např. chybových hlášení. Tyto informace nám pomáhají zlepšit výkon našich webových stránek. Tyto cookies nemohou shromažďovat informace o aktivitách uživatele na jiných webových stránkách.</p>
        <p>Do této kategorie spadají tyto cookies:</p>
        <ul>
            <li style="font-weight: 400;">identifikátor pro Google Analytics (<a href="https://support.google.com/analytics/answer/6004245">více informací</a>)</li>
        </ul>
        <h3 class="mt-3">Funkční cookies (Typ 3)</h3>
        <p>Tyto cookies umožňují vylepšování komfortu a účinnosti webových stránek a zpřístupňují nejrůznější funkce. Ve funkčních cookies lze například uložit jazyková nastavení.</p>
        <p>Do této kategorie spadají tyto cookies:</p>
        <ul>
            <li style="font-weight: 400;">informace o poskytnutí / odmítnutí souhlasu se zpracováním cookies pro cílenou reklamu</li>
            <li style="font-weight: 400;">informace o nastavení úrovně souhlasu se zpracováním cookies</li>
        </ul>
        <h3 class="mt-3">Cookies pro cílenou reklamu a remarketing (Typ 4)</h3>
        <p>Tyto cookies se používají pro zobrazení reklamy, která je relevantní pro uživatele a jeho zájmy. Tyto cookies lze také použít pro uložení a měření efektivity reklamní kampaně, se kterou se zákazník seznámil během návštěvy konkrétních webových stránek. Díky tomu lze také lépe komunikovat s potenciálními inzerenty. Naše společnost používá tento typ cookies za účelem marketingu (při první návštěvě našich stránek máte možnost používání těchto cookies povolit). S vaším souhlasem použijeme získané informace k analýze vašeho chování na našich webových stránkách a také pro zobrazování specifické reklamy některých našich výrobků. Věříme, že tato funkce je pro vás prospěšná, protože vám budeme zobrazovat jen ty reklamy nebo obsah, které odpovídají vašim zájmům.</p>
        <p>Do této kategorie spadají tyto cookies:</p>
        <ul>
            <li style="font-weight: 400;">cílená reklama Google (Adwords, Analytics)</li>
        </ul>
        <h2 class="mt-5">Aktuální seznam cookies využívaných naším webem</h2>

        <table border="1" cellpadding="5" cellspacing="0">
            <tbody>
            <tr>
                <td><b>Jméno</b></td>
                <td><b>Obsah</b></td>
                <td><b>Nástroj</b></td>
                <td><b>Účel</b></td>
                <td><b>Typ cookie</b></td>
            </tr>
            <tr>
                <td>&nbsp;PHPSESSIONID</td>
                <td>&nbsp;náhodně vygenerovaný řetězec</td>
                <td>&nbsp;Wordpress</td>
                <td>&nbsp;Pro správnou funkčnost webu</td>
                <td>&nbsp;Typ 1</td>
            </tr>
            <tr>
                <td>&nbsp;_ga</td>
                <td>&nbsp;náhodně vygenerovaný řetězec</td>
                <td>&nbsp;Google Analytics</td>
                <td>&nbsp;Analýza návštěvnosti (sgrupování dat)</td>
                <td>&nbsp;Typ 2</td>
            </tr>
            <tr>
                <td>&nbsp;_gid</td>
                <td>&nbsp;náhodně vygenerovaný řetězec</td>
                <td>&nbsp;Google Analytics</td>
                <td>&nbsp;Analýza návštěvnosti (sgrupování dat)</td>
                <td>&nbsp;Typ 2</td>
            </tr>
            <tr>
                <td>&nbsp;_gat</td>
                <td>&nbsp;číslo</td>
                <td>&nbsp;Google Analytics</td>
                <td>&nbsp;Počítá množství odeslaných dat do GA, aby se zabránilo přetížení</td>
                <td>&nbsp;Typ 2</td>
            </tr>
            <tr>
                <td>&nbsp;_icl_current_language</td>
                <td>&nbsp;„cs“ / „en“</td>
                <td>&nbsp;Wordpress</td>
                <td>&nbsp;Zobrazování webu v české / anglické variantě</td>
                <td>&nbsp;Typ 3</td>
            </tr>
            <tr>
                <td>&nbsp;_comment_author_***</td>
                <td>&nbsp;Jméno uvedené u komentáře</td>
                <td>&nbsp;Wordpress</td>
                <td>&nbsp;Předvyplnění jména u dalších komentářů</td>
                <td>&nbsp;Typ 3</td>
            </tr>
            <tr>
                <td>&nbsp;_comment_author_email_***</td>
                <td>&nbsp;Email uvedený u komentáře</td>
                <td>&nbsp;Wordpress</td>
                <td>&nbsp;Předvyplnění emailu u dalších komentářů</td>
                <td>&nbsp;Typ 3</td>
            </tr>
            <tr>
                <td>&nbsp;_comment_author_url_***</td>
                <td>&nbsp;URL uvedená u komentáře</td>
                <td>&nbsp;Wordpress</td>
                <td>&nbsp;Předvyplnění URL adresy u dalších komentářů</td>
                <td>&nbsp;Typ 3</td>
            </tr>
            <tr>
                <td>&nbsp;cookieconsent_status</td>
                <td>&nbsp;„dismiss“</td>
                <td>&nbsp;Google Tag Manager</td>
                <td>&nbsp;Skrytí cookie lišty po jejím odkliknutí</td>
                <td>&nbsp;Typ 3</td>
            </tr>
            </tbody>
        </table> -->
        <h2 class="mt-5">Profilování a automatizované zpracování</h2>
        <p>V našich marketingových kampaních provádíme profilování a automatizované zpracování pouze za účelem cílené nabídky našeho zboží a služeb – chceme vám nabízet to, co je pro vás relevantní a nezatěžovat vás zbytečnostmi. Nepoužíváme profilování ani automatizované zpracování pro účel automatizovaného rozhodování, které by pro vás mělo právní účinky nebo se vás nějak významně dotýkalo.</p>
        <h2 class="mt-5">Vaše práva</h2>
        <p>Vaše osobní údaje jsou citlivé informace a máte právo vědět, jak s nimi nakládáme. Neváhejte se na nás kdykoliv obrátit, pokud budete potřebovat:</p>
        <ul>
            <li><b>získat opis vašich osobních údajů</b> – <a href="<%= site.basePath %>/jak-a-kde#kontakt">napište nám</a> a my vám pošleme, jaká data o vás máme,</li>
            <li><b>opravit vaše osobní údaje</b> – <a href="<%= site.basePath %>/jak-a-kde#kontakt">napište nám</a>, jaké údaje máme špatně a my zajistíme jejich změnu,</li>
            <li><b>vymazat vaše osobní údaje</b> – pokud si nepřejete, aby vaše osobní data byla dále zpracovávána, <a href="<%= site.basePath %>/jak-a-kde#kontakt">ozvěte se nám</a> a my se o to postaráme,</li>
            <li><b>omezit zpracování vašich osobních údajů – </b>pokud žádáte o omezení zpracování vašich osobních údajů, <a href="<%= site.basePath %>/jak-a-kde#kontakt">dejte nám vědět</a> a my to zařídíme,</li>
            <li><b>odvolat souhlas</b> se zpracováním vašich osobních údajů – pokud chcete odvolat váš souhlas se zpracováním osobních údajů, <a href="<%= site.basePath %>/jak-a-kde#kontakt">dejte nám to prosím vědět</a>.</li>
            <li><b>vznést námitku</b> proti zpracování vašich osobních údajů. Pokud se jedná o zpracování osobních údajů pro účely přímého marketingu týká se námitka i profilování. Pokud budete chtít toto právo uplatnit, <a href="<%= site.basePath %>/jak-a-kde#kontakt">kontaktujte nás prosím</a>.</li>
            <li><b>podat stížnost</b> – naším dozorovým úřadem je <a href="https://www.uoou.cz/">Úřad pro ochranu osobních údajů</a>, můžete se na něj kdykoliv obrátit se svým problémem (nicméně věříme tomu, že to nebude potřeba a že všechny vaše případné stížnosti vyřešíme k vaší spokojenosti společně)</li>
        </ul>
        <h2 class="mt-5">Odkazy na legislativu</h2>
        <p>Postupujeme vždy v souladu s platnou legislativou, jejíž plné znění najdete na těchto odkazech:</p>
        <ul>
            <li><a href="http://eur-lex.europa.eu/legal-content/CS/ALL/?uri=CELEX%3A32016R0679">NAŘÍZENÍ EVROPSKÉHO PARLAMENTU A RADY (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů)</a></li>
            <li><a href="https://www.uoou.cz/zakladni-prirucka/ds-4744/archiv=1&p1=3109">Zákon č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění účinném od 1. července 2017</a></li>
            <li><a href="https://www.uoou.cz/zakon-c-480-2004-sb-o-nekterych-sluzbach-informacni-spolecnosti/ds-1497/p1=1497">Zákon č. 480/2004 Sb., o některých službách informační společnosti ve znění účinném od 1. července 2017</a></li>
        </ul>

    </div>
</article>